.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f0f6ff;
}

.nav.folder {
  position: static;
  top: auto;
  left: auto;
}

.navContainer {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navContainer h1 {
  width: 133px;
  height: 24px;
}

.navContainer h1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav button {
  padding: 16px 40px;
  max-width: 128px;
}

.navUserInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navUserInfo p {
  font-size: 1.4rem;
  font-weight: 400;
}

/* mobile */
@media (max-width: 767px) {
  .navContainer {
    max-width: 100%;
    padding: 18px 32px;
  }
}
