.gradient-btn {
  background: var(--button-gradation);
  border-radius: 8px;
  line-height: 1;
  /* height: 54px; 로그인 버튼 깨지는거 확인 필요! */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 1.8rem;
}
