.Footer {
  position: relative;
  padding: 32px 104px 108px;
  background: #111322;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer .Footer-sns {
  display: flex;
  align-items: center;
  gap: 0 12px;
}

.Footer .Footer-sns img {
  width: 20px;
}

.Footer .Footer-ttl span {
  color: #676767;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.Footer .Footer-link {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.Footer .Footer-link a {
  color: #cfcfcf;
  font-size: 1.6rem;
  font-weight: 400;
}
