.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  background: #f0f6ff;
}

.nav.folder {
  position: static;
  top: auto;
  left: auto;
}

.navContainer {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navContainer h1 {
  width: 133px;
  height: 24px;
}

.navContainer h1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav button {
  padding: 16px 40px;
  max-width: 128px;
}
