:root {
  --color--primary: #6d6afe;
  --color--red: #ff5b56;
  --color--black: #111322;
  --color--white: #ffffff;
  --color--gray-100: #3e3e43;
  --color--gray-60: #9fa6b2;
  --color--gray-20: #ccd5e3;
  --color--gray-10: #e7effb;
  --color--gray-bg: #f0f6ff;

  --button-gradation: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

.no-data {
  text-align: center;
  color: #000;
  font-weight: 400;
  line-height: 24px;
  font-size: 1.6rem;
  padding: 80px 0;
}

/* max width */
.list-max-width {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}

/* page title area */
.page-title-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color--gray-bg);
}
