/* various */
:root {
    --color--primary: #6d6afe;
    --color--red: #ff5b56;
    --color--black: #111322;
    --color--white: #ffffff;
    --color--gray-100: #3e3e43;
    --color--gray-60: #9fa6b2;
    --color--gray-20: #ccd5e3;
    --color--gray-10: #e7effb;
    --color--gray-bg: #f0f6ff;

    --button-gradation: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}
br.mob_none {
    display: block;
}
br.mob{
    display: none;
} 

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/* button */
.gradient_btn {
    background: var(--button-gradation);
    border-radius: 8px;
    line-height: 1;
    height: 54px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 1.8rem;
}
.gradient_btn.w_s {
    min-width: 128px;
}
.gradient_btn.w_l {
    max-width: 350px;
    width: 100%;
}
.gradient_btn.w_xl {
    max-width: 400px;
    width: 100%;
}

/* max-width */
.width_large {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.width_midium {
    max-width: 998px;
    width: 100%;
    margin: 0 auto;
}

/* gray box */
.gray_border_box {
    background: var(--color--gray-10);
    border: 1px solid var(--color--gray-20);
    border-radius: 8px;
    padding: 12px 24px;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
}

nav {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    width: 133px;
    height: 24px;
}

/* footer */
footer {
    position: relative;
    padding: 32px 104px 108px;
    background: #111322;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer_sns {
    display: flex;
    align-items: center;
    gap: 0 12px;
}

footer .footer_sns img {
    width: 20px;
}

footer .footer_ttl span {
    color: #676767;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

footer .footer_link {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

footer .footer_link a {
    color: #cfcfcf;
    font-size: 1.6rem;
    font-weight: 400;
}
/* tablet */
@media (max-width:1200px) {
    .width_midium {
        width: 90%;
    }
    nav {
        max-width: 799px;
    }
}
/* mobile */
@media (max-width:767px) {
    nav {
        padding: 13px 32px;
    }
    br.mob_none {
        display: none;
    }
    br.mob{
        display: block;
    } 
    .gradient_btn {
        font-size: 2.8rem;
    }
    nav .gradient_btn.w_s {
        height: 37px;
        min-width: 80px;
    }
    nav h1 {
        width: 89px;
        height: 16px;
    }
    footer {
        padding: 32px 32px 92px;
    }
    footer .footer_link a,
    footer .footer_ttl span {
        font-size: 3.2rem;
    }
    footer .footer_ttl {
        position: absolute;
        bottom: 32px;
        left: 32px;
    }
}