@import url(./common.css);

/* signin + signup common classes */
body {
    background: var(--color--gray-bg);
}
.sign_sec {
    padding-top: 238px;
    padding-bottom: 116px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
h1 {
    width: 210px;
    margin-bottom: 16px;
}

form {
    margin: 30px 0;
    width: 100%;
}

form label {
    font-size: 1.4rem;
    margin-bottom: 12px;
    display: block;
}
form label ~ label {
    margin-top: 24px;
}
form input {
    width: 100%;
    padding: 18px 40px 18px 15px;
    border-radius: 8px;
    font-size: 1.6rem;
    line-height: 1;
    border: 1px solid var(--color--gray-20);
    background: var(--color--white);
}
form .input_password {
    position: relative;
}
form .input_password .eye {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/eye-off.svg) no-repeat center;
}
form .input_password .eye.on {
    background: url(../images/eye-on.svg) no-repeat center;
}
form input:focus {
    border: 1px solid var(--color--primary);
}
form input.error {
    border: 1px solid var(--color--red);
}
form button {
    margin-top: 30px;
}

.error_msg {
    color: var(--color--red);
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
}

/* gray border box - social */
.gray_border_box.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 24px;
}
.gray_border_box.social h6 {
    font-size: 1.4rem;
    color: var(--color--gray-100);
    font-weight: 400;
}
.gray_border_box.social .social_box {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* signin */
.check_memb {
    display: flex;
    align-items: center;
    gap: 8px;
}

.check_memb p,
.check_memb a {
    font-size: 1.6rem;
}

.check_memb a {
    color: var(--color--primary);
    text-decoration: underline;
    font-weight: 600;
}
